<html>
<head>
	<title></title>
</head>
<body>

<div class="container">
		<form class="form-inline">
			<div class = "form-group">
				<label>Add</label>
			<input type="text" class="form-control" id="photo_url" placeholder="insert picture url here:)">
			</div>
		</form>
		<p>	</p>
		<p>
			<button type="submit" class= "btn btn-primary active" > Upload Picture </button>
		</p>
</div>
	
	
  
</body>
</html>

<%= render 'form' %>



<%= link_to 'Back', new_instagrampic_path %>